<div>
	<div class="modal-header">
		<h3 class="modal-title">{{ info.txt.csvModal.CsvExport }}</h3>
		<div id="modal-csv-option">
			<div class="input-group">
				<label class="input-group-addon">{{ info.txt.csvModal.Sep }} :</label>
				<input type="text" class="form-control" ng-model="data.sep"></input>
			</div>
		</div>
	</div>
		<!-- No field selection and rename yet, building process doesn't allow it yet
		<div class="modal-body modal-scroll">
			<div>
				<label class="col-sm-4">
					{{ info.txt.csvModal.Name }}
				</label>
				<div class="col-sm-5">
					<label>{{ info.txt.csvModal.Alias }}</label>
				</div>
				<button class="btn btn-default col-sm-2" ng-click="hideAllField()">
					<span ng-if="hideAll">{{ info.txt.csvModal.Show }}</span>
					<span ng-if="!hideAll">{{ info.txt.csvModal.Hide }}</span>
				</button>
				<div class="spacer"></div>		
			</div>
			<div ng-repeat="field in data.fields" class="margin-top">
				<label class="col-sm-4">
					<a title="{{ field.ancestor }}">{{ field.name }}</a> 
				</label>
				<div class="col-sm-5">
					<input type="text" class="form-control" ng-model="field.alias">
				</div>		
				<button class="btn col-sm-2" ng-class="{'btn-danger':field.hide, 'btn-success':!field.hide}" ng-click="hideField($index)">
					<span ng-if="field.hide">{{ info.txt.csvModal.Show }}</span>
					<span ng-if="!field.hide">{{ info.txt.csvModal.Hide }}</span>
				</button>
				<div class="spacer"></div>
			</div>
		</div>
		!-->
		<div class="modal-footer">
			<div class="col-sm-3">
				<button ng-click="builtCsv()" class="btn btn-default" title="{{ info.txt.csvModal.CurrentResultTitle }}">
					Export				
				</button>
			</div>
		</div>
</div>