<h1> Contexts </h1>

<p>
	Context's system allows you to save and share everything you made in curiosity (aggregations, query, layout).	It work as a file, you just have to save your context, then it will be available for everyone who use your application.
</p>

<h3> Create a new Context </h3>

<p>
	To create a new context, press the blue floppy disk button at the bottom of your screen, it will open a window, where you can add a name and a description to the new context. Fill it, then press save. A wild progress bar appear, that show you the save process. When it's done, your url include now the context id, so if you refresh your page, curiosity will automatically reload  your context.
</p>

<p>
	If you want to update your context again, hit the floppy disk, it will update your current context. When it's done an alert will notify you. 
</p>

<p>
In the case you want to create a new context from an existing one, fly over the floppy disk, 2 new buttons will appear, press "save as", it will show the new context window.
</p>

<div class="row">
	<div class="col-xs-6 col-md-4">
		<a href="img/curiosity-context-buttons.png" class="thumbnail" title="Curiosity's context buttons">
			<img src="img/curiosity-context-buttons.png" alt="Screenshot of Curiosity's context buttons">
		</a>
	</div>
	<div class="col-xs-6 col-md-4">
		<a href="img/curiosity-new-context-window.png" class="thumbnail" title="Curiosity's new context window">
			<img src="img/curiosity-new-context-window.png" alt="Screenshot of Curiosity's new context window">
		</a>
	</div>
	<div class="col-xs-6 col-md-4">
		<a href="img/curiosity-alert-context-update.png" class="thumbnail" alt="Curiosity's context update alert">
			<img src="img/curiosity-alert-context-update.png" alt="Screenshot of Curiosity's context update alert">
		</a>
	</div>
</div>

<h3>Open and Manage your contexts</h3>

<p>
	To open a specific context, fly over the floppy disk, then hit "Manage Context" button (blue folder). It will open a window, where are listed all contexts. Press the "plus" icon near a context to show its description. If you press the "bookmark" icon it will load the selected context, and the trash icon deletes the associated context.
</p>

<div class="col-sm-12">
	<img src="img/curiosity-manage-context.png" alt="Screenshot of Curiosity's manage context window" title="Curiosity's manage context window">
</div>

<div class="spacer"></div>

<ul class="pager">

  <li class="previous">
  	<a href="#/Modules">&larr; Modules</a>
  </li>

</ul>