<h2> Context </h2>

<p>
	Context allows you to save and share everything you made in curiosity (aggregations, querie, layout). 
	It work as a file, you just have to save your context, then it will be available for everyone who use your application.
</p>

<h3> Create a new Context </h3>

<p>
	To create a new context, press the blue floppy disk button at the bottom of your screen, it will open a window, where you can add a name and a description to the new context. Fill it, then press save. A wild progress bar appear, that show you the save process. When it's done, your url include now the context's id, so if you refresh your page, curiosity will reload automaticlly your context.
</p>

<p>
	If you want to update your context again, hit the floppy disk, it will update your current context. When it's done an alert will notify you. 
</p>

<p>
	In the case you want to create a new context from an existing one, fly over the flopy disk, 2 new buttons will appear, press "save as", it will show new context windows.  
</p>