<h1>Curiosity</h1>
<p>
	Curiosity is a tool developed by 
	<a href="https://github.com/pagesjaunes/curiosity.git" title="Pages Jaunes">Pages Jaunes</a>,
	that aims to facilate elasticsearch's indexs exploration. 
	It's fully Open Source, developped in javascript with AngularJS.
</p>
<p></p>
<p>
	Our goal is to provide a totally customizable search experience for everyone, with technical skills or not. Curiosity hide elasticsearch complexity, and give to users the possibility to create their dashboards, customize the result list and aggregation, create keywords, export their result in csv... You can do with ease almost whatever you want   
</p>
<div class="col-sm-12">
	<img src="img/curiosity-index.png" alt="Screenshot of Curiosity's current interface" title="Curiosity's currrent inteface Interface">
</div>
<div class="spacer"></div>
<div class="link-bottom">
<a href="#/Getting-Started" title="Getting Started with Curiosity">
	Let's Start 
	<span class="glyphicon glyphicon-share-alt"></span>
</a>
</div>