<h1>Curiosity</h1>
<p>
	Curiosity is a tool developed by 
	<a href="https://github.com/pagesjaunes/curiosity.git" title="Pages Jaunes">Pages Jaunes</a>,
	that aims to facilitate datas exploration in elasticsearch. 
	It's fully Open Source (MIT License), developped in javascript with AngularJS.
</p>
<p></p>
<p>
	Our goal is to provide a totally customizable search experience for everyone, with technical skills or not. Curiosity hides elasticsearch's complexity and give to users the possibility to create their dashboards, customize the result list and aggregations, create keywords, export their result in csv... You can with ease almost do whatever you want.
</p>
<div class="col-sm-12">
	<img src="img/curiosity-index.png" alt="Screenshot of Curiosity's current interface" title="Curiosity's currrent inteface Interface">
</div>
<div class="spacer"></div>

<h2>Incoming Features</h2>

<p>
	Right now we are working on the documentation and code comments. There's a lot of things in curiosity, maybe sometimes hard to understand and that's why we try to create a useful and full documentation to this project.
</p>

<p>
	In terms of functionality we will try to implement all elasticsearch search functionality, but before we will work on adding more possibility in templating, to create more interaction between users and curiosity. 
</p>


<div class="link-bottom">
<a href="#/Getting-Started" title="Getting Started with Curiosity">
	Let's Start 
	<span class="glyphicon glyphicon-share-alt"></span>
</a>
</div>