<h1>Installation procedure</h1>
<!-- Install !-->
<h3>Step 1 : get Curiosity</h3>

<p>
	Curiosity has no external dependency. To use it, just clone the repository or download the archive from github. 
</p>

<h3>Step 2 : customize the conf file</h3>

<p>
	Your elasticSearch server may not on localhost ! Customize the conf.js file, at the root of Curiosity's folder :
</p>

<pre style="background:rgba(238,238,238,0.92);color:#000">    <span style="color:#06f;font-style:italic">//Conf.js</span>
    <span style="font-weight:700">var</span> globalConf <span style="color:#00f">=</span> {
        defaultServer : <span style="color:#093">'http://localhost:9200'</span>, <span style="color:#06f;font-style:italic">// Curiosity will connect by default to this elasticsearch host</span>
        confServer : <span style="color:#093">'http://localhost:9200'</span>, <span style="color:#06f;font-style:italic">// Curiosity stores its data (keywords, template, ...) on this server</span>
        confIndex : <span style="color:#093">"curiosity-config"</span>, <span style="color:#06f;font-style:italic">// Index of the ElasticSearch "confServer" where curiosity will store it's data</span>
        defaultConfDocumentType : <span style="color:#093">"conf-doc"</span>, <span style="color:#06f;font-style:italic">// Type of simple conf document </span>
    };
</pre>

<div class="alert alert-warning" role="alert">
	Be sure to follow json syntax, if not, the application will not start properly.
</div>

<h3>Step 3 : English or French ?</h3>

<p>
	Curiosity is multilingual, right now the application is fully translated in English and French (almost).To change Curiosity's language, copy the file that you need from lang folder to txt.js (This process will be simplified soon).	
</p>	

<pre style="background:rgba(238,238,238,0.92);color:#000">
	curiosity/lang<span style="color:#00f">></span> ls
	en.js fr.js
	curiosity/lang<span style="color:#00f">></span> cp en.js ../txt.js
</pre>

<p>
	By default the application is in english (almost).
</p>

<h3>Step 4 : Enjoy and share your data !</h3>

<p>
	After that, curiosity is ready. Open index.html with a recent browser and enjoy.
</p>
<!-- First Query !-->

<div class="alert alert-danger" role="alert">
<strong>Note about Curiosity setting up :</strong> When you open index.html for the first time, curiosity will create its own index and store few conf files. It will take 1 to 10 second depending on your elasticsearch server, but it's better to wait a bit more. Wait during this period, then reload the page.</div>

<div class="alert alert-warning" role="alert">
<strong>Same origin policy</strong> : If you don't run Curiosity on a webserver, be sure to use firefox or to disabel browser's web security. If you don't your webpage will stay empty.
</div>

<ul class="pager">
  <li class="previous">
  	<a href="#">&larr; Home</a>
  </li>
  <li class="next">
  	<a href="#/FirstSteps">First Steps &rarr;</a>
  </li>
</ul>