<h1>Keywords and Advanced Query</h1>

<h2>Keywords</h2>

<p>Keywords aim to provide an easier way for querying elasticsearch : instead of using the elasticsearch syntax, one can define a keyword that relies to an elasticsearch query. This keywords is then available for any curiosity user on the cluseter. They may ben chained in a logical expressionto build a complex but human understandable query.
</p>
<p>
	Each keyword has a specific scope : it may be associated to an index or to all indexes (global scope).
	There is two way to add a new keyword.
</p>
<h3>Keyword creation from "keyword tab"</h3>
<div class="col-sm-12">
	<img src="img/curiosity-keywords-tab.png" alt="Screenshot of Curiosity's keywords tab" title="Curiosity's keywords tab">
</div>
<div class="spacer"></div>

<p>
	This tab deals with keywords managing : access to it by clicking on "customization > keywords" in the navbar. 
	To add a new Keyword, select first the scope : it may be a specific index, but may be set as "global" for more general purpose (global is a specific entry of the index dropdown list).
</p>
<p>
	A list of all the existing keywords attached to the selected index is then displayed. Hitting the "add" button opens a 3 input field form.
	<ul>
		<li>
			The first input is the "name" of your keyword, this value will be used when you will build your query (No space allowed, if you add one, curiosity  will suppress it automatically during save processus)
		</li>
		<li>
			The second input is the elasticsearch query that the keyword will hide. This field any be set with anything as it is ""elasticly" correct :) 
		</li>
		<li>
			The last input is a description of your keyword. This field isn't required, fill it if your keywords name isn't enough explicit.
		</li>
	</ul>
</p>

<p>
	When you have created all of your keywords, or made some modifications, hit the button save to send your data to your conf server and make it persistent. 
</p>
<h3>Keyword creation from a query</h3>

<p>
	You can create a new keyword directly from your query, by pressing "keyword from query" button in the request tab. Two fields will appear under the button. Refer then to the previous procedure (keyword creation from "keyword tab") : fill inputs, press the "save" button to make your keyword available.
</p>

<div class="col-sm-12">
	<img src="img/curiosity-keywords-query.png" alt="Screenshot of Curiosity's keywords from query functionality" title="Curiosity's keyword from query">
</div>
<div class="spacer"></div>

<h3>Keywords and fields panels</h3>

<p>
	On default interface there are two blue panels in the middle of the page.
</p>
<p>
	The first one contains all the keywords that relies to the current index (global + index keywords) : selecting one will add it to your query automatically. By default only 9 keywords are displayed : "Show all" button makes all the keywords visible. The input field at the top of the list may be used to filter the keywords.
</p>
<p>
	The second panel works in a similar way but deals whith index's fields : selecting a field will add its document full path to the query input. This may be used to query the index by a field in an easy way (no need to know the document structure to search one that match a specific value for a given field).
</p>

<h3>Advancd Query</h3>

<p>INCOMING (sort, csv export....)</p>

<div class="spacer"></div>
