<h2> Templating </h2>

<p>
	Curiosity allows you to create template directly in the application. To do that go to the template tab, in customization menu. In this tab, there are two subtabs. The first one manages results template, and the second aggregations template.
</p>

<h3> Result Template </h3>

<div class="col-sm-12">
	<img src="img/curiosity-template-result.png" alt="Screenshot of Curiosity's template tab" title="Curiosity's Template">
</div>
<div class="spacer"></div>

<p>
	On this tab you can add, remove or modify existing template. If you want to edit an existing one select it in the dropdown list. Once you did it, selected template will appear in the text area. Then you can edit the template itself or its name.
</p>

<p>
	To create a new template, press new button, it will fill all fields with default values (name, and template value).	Every modification are immediately available, but not synchronized, to do it press "save" button it will store your template in curiosity's index.
</p>

<p>
	To use a template when you use default interface, go on the request tab, there is an input group composed of a dropdown list and a checkbox. Choose a template, your result list will automaticly change its display. Then if you want to switch between template and json view, check or uncheck the checkbox.  
</p>

<h3> Aggregation Template </h3>
<p>INCOMING</p>