<h2> Templating </h2>

<p>
	Templating in Curiosity is a generic and powerfull feature that allows to customize both the search result rendering, and the way an agregation is displayed.
	Templating management tab is accessible from the customization menu.
	Note that this step requires some development skills : from basic, if the goal is only to display raw field values, to expert, if you want to display the result on a map using a D3js function.
</p>

<h3> Result Template </h3>

<div class="col-sm-12">
	<img src="img/curiosity-template-result.png" alt="Screenshot of Curiosity's template tab" title="Curiosity's Template Tab">
</div>
<div class="spacer"></div>

<p>
	This tab manage the way a result list is displayed.
	You may update an existing template : just select one in the dropdown list and edit the code in the text area.
	You may add a new template : press the "new" button and edit the name. Then edit directly the code in the text area : to refer a field of a document, select it in the "field zone", it will be added with the correct syntax (angularjs one) in the template code area. In this zone be free to use HTML, javascript and angularjs directive !
</p>
<p>
	To use a template when you use default interface, go on the request tab, there is an input group composed of a dropdown list and a checkbox. Choose a template, your result list will automaticly change its display. Then if you want to switch between template and json view, check or uncheck the checkbox.
</p>

<div class="col-sm-12">
	<img src="img/curiosity-charts.png" alt="Screenshot of a template example with charts" title="Curiosity's Template example">
</div>

<h3> Aggregation Template </h3>
<p>Documentation on the way</p>

<ul class="pager">

  <li class="previous">
  	<a href="#/Aggregations">&larr; Aggregations</a>
  </li>
  
  <li class="next">
  	<a href="#/Modules">Modules &rarr;</a>
  </li>

</ul>