<!-- template_tab.html !-->
<div id="result-bar">
	<ul class="nav nav-pills">
  		<li ng-class="{'active':template.tab==0}">
  			<a href="#" ng-click="template.tab=0">{{ info.txt.template.ResultItems }}</a>
  		</li>
  		<li ng-class="{'active':template.tab==1}">
  			<a href="#" ng-click="template.tab=1">{{ info.txt.template.Aggregations }}</a>
  		</li>
	</ul>		
</div>
<div ng-show="template.tab == 0" ng-include="'template/template_tab/result_items_sub_tab.html'">
</div>
<div ng-show="template.tab == 1" ng-include="'template/template_tab/aggregation_sub_tab.html'">
</div>