<div ng-controller="resultAutoCtrl" class="margin-top module">	
	<h4> Result
		<span class="glyphicon" ng-class="{'glyphicon-minus':!hideResult,'glyphicon-plus':hideResult}" ng-click="hideResult = !hideResult" title="{{ info.txt.log.Hide }}">	
		</span>
	</h4>
	<div ng-if="!hideResult">
		<select ng-model="templateSelected" ui-select2 ng-change="selectTemplate('template',templateSelected)" class="form-control">
				<option ng-repeat="template in templateData.template" value="{{$index}}" >{{ template.name }}
				</option>  
		</select>
		<div ng-include="currentTemplate" class="margin-top"></div>
	</div>
</div>
