<div class="layout-selector container" ng-controller="layoutSelectorCtrl">
	<div>
		<div>
			<div class="input-group margin-top">
				<span class="input-group-addon">Name</span>
				<input ng-model="name" class="form-control" type="text" />
			</div>		
		</div>
		<div class="input-group margin-top">
			<span class="input-group-addon">Row</span>
			<input ng-model="rows" class="form-control" type="number" max="4" min="1" />
		</div>
		<div class="input-group margin-top">
			<span class="input-group-addon">Col</span>
			<input ng-model="cols" class="form-control" type="number" max="4" min="1" />
		</div>
	</div>		
	<div class="layout-table" >
		<div ng-mouseleave="reinit()">
			<div>
				<div ng-mouseover="console.log(toto)" ng-click="select(1,1)" class="col"
					ng-class="{'high':rowh>=1 &&  colh>=1,'selected':rows>=1 &&  cols>=1}">
				</div>
				<div ng-mouseover="highlight(1,2)" ng-click="select(1,2)" class="col"
					ng-class="{'high':rowh>=1 &&  colh>=2,'selected':rows>=1 &&  cols>=2}">
				</div>
				<div ng-mouseover="highlight(1,3)" ng-click="select(1,3)" class="col"
					ng-class="{'high':rowh>=1 &&  colh>=3,'selected':rows>=1 &&  cols>=3}">
				</div>
				<div ng-mouseover="highlight(1,4)" ng-click="select(1,4)" class="col"
					ng-class="{'high':rowh>=1 &&  colh>=4,'selected':rows>=1 &&  cols>=4}">
				</div>
				<div class="spacer"></div>
			</div>
			<div>
				<div ng-mouseover="highlight(2,1)" ng-click="select(2,1)" class="col"
					ng-class="{'high':rowh>=2 &&  colh>=1,'selected':rows>=2 &&  cols>=1}">
				</div>
				<div ng-mouseover="highlight(2,2)" ng-click="select(2,2)" class="col"
					ng-class="{'high':rowh>=2 &&  colh>=2,'selected':rows>=2 &&  cols>=2}">
				</div>
				<div ng-mouseover="highlight(2,3)" ng-click="select(2,3)" class="col"
					ng-class="{'high':rowh>=2 &&  colh>=3,'selected':rows>=2 &&  cols>=3}">
				</div>
				<div ng-mouseover="highlight(2,4)" ng-click="select(2,4)" class="col"
					ng-class="{'high':rowh>=2 &&  colh>=4,'selected':rows>=2 &&  cols>=4}">
				</div>
				<div class="spacer"></div>
			</div>
			<div>
				<div ng-mouseover="highlight(3,1)" ng-click="select(3,1)" class="col"
					ng-class="{'high':rowh>=3 &&  colh>=1,'selected':rows>=3 &&  cols>=1}">
				</div>
				<div ng-mouseover="highlight(3,2)" ng-click="select(3,2)" class="col"
					ng-class="{'high':rowh>=3 &&  colh>=2,'selected':rows>=3 &&  cols>=2}">
				</div>
				<div ng-mouseover="highlight(3,3)" ng-click="select(3,3)" class="col"
					ng-class="{'high':rowh>=3 &&  colh>=3,'selected':rows>=3 &&  cols>=3}">
				</div>
				<div ng-mouseover="highlight(3,4)" ng-click="select(3,4)" class="col"
					ng-class="{'high':rowh>=3 &&  colh>=4,'selected':rows>=3 &&  cols>=4}">
				</div>
				<div class="spacer"></div>
			</div>
			<div>
				<div ng-mouseover="highlight(4,1)" ng-click="select(4,1)" class="col"
					ng-class="{'high':rowh>=4 &&  colh>=1,'selected':rows>=4 &&  cols>=1}">
				</div>
				<div ng-mouseover="highlight(4,2)" ng-click="select(4,2)" class="col"
					ng-class="{'high':rowh>=4 &&  colh>=2,'selected':rows>=4 &&  cols>=2}">
				</div>
				<div ng-mouseover="highlight(4,3)" ng-click="select(4,3)" class="col"
					ng-class="{'high':rowh>=4 &&  colh>=3,'selected':rows>=4 &&  cols>=3}">
				</div>
				<div ng-mouseover="highlight(4,4)" ng-click="select(4,4)" class="col"
					ng-class="{'high':rowh>=4 && colh>=4,'selected':rows>=4 &&  cols>=4}">
				</div>
				<div class="spacer"></div>
			</div>
		</div>
	</div>
	<button ng-click="validate(name, cols, rows)" class="btn btn-default">OK</button>
</div>