<div class="agg-result">
	<div class="panel panel-primary panel-request">
		<div class="panel-heading">
			<h3 class="panel-title">
				{{ agg.__ref__.displayName }}
			</h3>
		</div>
		<div class="panel-body">
			<span class="aggregation-items"> 
				<label>
					{{agg.__ref__.query }} :
				</label>
				{{ agg.doc_count }}
			</span>
			<div ng-repeat="(key, agg) in agg">
				<div ng-if="isAgg(key)">
					
					<div ng-switch="agg.__ref__.tpl">
						
						<!-- Default Tpl !-->
						<div ng-switch-when="default">
							<div ng-include="agg.__ref__.useCustomTemplate?agg.__ref__.name:agg.__ref__.resultTemplate">	
							</div>
						</div>
						<!-- Specifique Tpl !-->
						<div ng-switch-default>
							<div ng-include="agg.__ref__.useCustomTemplate?agg.__ref__.name:agg.__ref__.tpl">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
