<div class="agg-result">
	<div class="panel panel-primary panel-request">
		<div class="panel-heading">
			<h3 class="panel-title">
				{{ agg.__ref__.displayName }}
			</h3>
		</div>
		<div class="panel-body">
			<span class="aggregation-items"> 
				<label>
					Global :
				</label>
				{{ agg.doc_count }}
			</span>
			<div ng-repeat="(key, agg) in agg">
				<div ng-if="isAgg(key)">
					<div ng-include="'partials/aggregation_module/aggResult.html'"></div>
				</div>
			</div>
		</div>
	</div>
</div>
