<div class="agg-result">
   <div class="panel panel-primary panel-request">
      <div class="panel-heading">
         <h3 class="panel-title">
            {{ agg.__ref__.displayName }}
         </h3>
      </div>
      <div class="panel-body">
         <span class="aggregation-items"> 
            <div class="panel-group" id="accordion">
               <div class="panel panel-default" ng-repeat='item in agg.hits.hits'>
                  <div class="panel-heading">
                     <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" data-target="#{{item._id}}">
                           {{item._type}} -> {{item._id}}
                        </a>
                     </h4>
                  </div>
                  <div id="{{item._id}}" class="panel-collapse collapse in">
                     <div class="panel-body">
                        <json-explorer json-data="{{item._source}}" ></json-explorer>
                     </div>
                  </div>
               </div>
            </div>
         </span>
      </div>
   </div>
</div>