<!DOCTYPE html>
<html ng-app="curiosityDoc" ng-controller="indexCtrl">
<head>
	<title>
		Curiosity, generic elasticsearch frontend in Angularjs for searching, faceting and displaying data in elasticsearch
	</title>
    <meta charset="utf-8">
	<meta name="description" content="Curiosity is a generic ElasticSearch frontend application built in angularJs, which is used for searching, facetting (aggregations) and displaying data from an elasticsearch server." />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!-- Favicon !-->
	<link rel="apple-touch-icon-precomposed" sizes="152x152" href="img/apple-touch-icon-152x152.png" />
	<link rel="icon" type="image/png" href="img/favicon-32x32.png" sizes="32x32" />
	<link rel="icon" type="image/png" href="img/favicon-16x16.png" sizes="16x16" />

	<!-- Javascript !-->
		<!--JQuery !-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
		<!-- Angular !-->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular-route.min.js"></script>
		<!-- Bootstrap !-->
		<!-- Application Specifique file !-->
	<script type="text/javascript" src="js/app.js"></script>
	<script type="text/javascript" src="js/controllers/pageCtrl.js"></script>
		<!-- Data !-->
	<script type="text/javascript" src="data/menu.js"></script>
	<script type="text/javascript" src="data/pages.js"></script>
	<!-- CSS !-->
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/body.css">
	
</head>
<body>
	<nav class="navbar navbar-default" role="navigation">
		<div class="container-fluid">
    		<div class="container">
	    		<!-- Brand and toggle get grouped for better mobile display -->
	    		<div class="navbar-header">
	      			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
	      			</button>
	      			<a class="navbar-brand" href="#">Curiosity</a>
	    		</div>
	    		<!-- Collect the nav links, forms, and other content for toggling -->
	    		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      			<ul class="nav navbar-nav">
						<li ng-repeat="link in menu" ng-class="{'active':link.url == '#' + path, 'dropdown':link.subPage}">		
							<a ng-if="!link.subPage" href="{{link.url}}" title="{{ link.title }}" desc="{{ link.desc }}">{{link.txt}}</a>
							
							<a ng-if="link.subPage" class="dropdown-toggle" data-toggle="dropdown">
								{{link.txt}}<span class="caret"></span>
							</a>
							<ul class="dropdown-menu" role="menu">
								<li ng-repeat="sub in link.pages" title="{{ sub.title }}" ng-class="{'active':sub.url == '#' + path}">
									<a href="{{sub.url}}">{{sub.txt}}</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</nav>
	<div>
		<div class="container" id="btn-container">
			<div >
				<div>
					<iframe src="http://ghbtns.com/github-btn.html?user=pagesjaunes&repo=curiosity&type=watch&count=true"allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe>
				</div>
		  		<div >
					<a href="https://github.com/pagesjaunes/curiosity" class="btn btn-default btn-xs" target="_blank">
						View on GitHub
					</a>
				</div>
				<div class="btn-group margin-top">
					<button type="button" class="btn btn-default dropdown-toggle btn-xs" data-toggle="dropdown">
						Download <span class="caret"></span>
					</button>
					<ul class="dropdown-menu" role="menu">
						<li><a href="https://github.com/pagesjaunes/curiosity/zipball/master">As .zip</a></li>
						<li><a href="https://github.com/pagesjaunes/curiosity/tarball/master">As tar.gz</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<h1>Curiosity</h1>
		<p>
			Curiosity is a tool developed by 
			<a href="https://github.com/pagesjaunes/curiosity.git" title="Pages Jaunes">Pages Jaunes</a>,
			that makes elasticsearch data exploration easy for an end-user. It provides a totally customizable search experience for everyone, with technical skills or not.
			It's fully Open Source (MIT License), developped in javascript with AngularJS.
		</p>

		<h2>Main Features</h2>
		<ul>
			<li><b>Keywords</b> : highlevel keywords definition allows to hide a complex elasticsearch query. Once created, they can be coordinated into logical expression, making it possible for an end-user to create its own query, without knowing anything about elasticsearch.</li>
			<li><b>Templates</b> : all results may be customized by an HTML template that may includes javascript call. An expert may create a template for a given type of document list, and this template may then be used to display the result of a query. That allows to hide the "json-view" of a query result to an end-user.</li>
			<li><b>Agregations</b> : all the elasticsearch agregation types are availables. It possible to define interactively its own agregation by choosing its type (terms, stats, ...) and the fields on with it will operate. Once done, it decorates the result page and allows to refine it interactively.</li>
			<li><b>Contexts</b> : a search experience is defined by a server, an index to query, a query, some agregations and templating. All this context can be saved so as to make it available again.</li>
			<li><b>Exports</b> : all the query results can be exported to a csv file.</li>
			<li><b>Workspaces</b> : your screen can be divided in multiple workspaces that can be personalize and stored into your context.</li> 
		</ul>
		<h2>Screenshot</h2>

		<div class="col-sm-12">
			<img src="img/curiosity-index.png" alt="Screenshot of Curiosity's current interface" title="Curiosity's currrent inteface Interface">
		</div>
		<div class="spacer"></div>

		<h2>Use cases</h2>
		<p>
		<ul>
			<li>Curiosity may be used by a "data owner" or a "data administrator", who wants an easy access to his data.</li>
			<li>It may be used to create highly customisable dashboards for end-users.</li>
			<li>End-users may use it to explore data, using pre-prepared highlevel keywords.</li>
		</ul>	
			We identify two main actors in a nominal use case :
			<ul>
				<li>A curiosity expert, who will be able to define keywords from an ElasticSearch simplified syntax, to create template for result rendering, to define agregations based on technical document fields. This user is able to create easily a complete and interactive Dashboard.</li>
				<lI>A curiosity consumer, who will use a prepared dashboard, accessible by a context. He will be then able to interactively use the agregation result, so as to browse the index data. Moreover, he will be able to modify the prepared query, using the highlevel keywords, and thus customize himself its own search experience.</lI>
			</ul>
		</p>

		<h2>News</h2>
		<ul>
			<li>
				07/22/2014 : We release 0.2.1 versions, that brings workspaces, layout, and revisited context system.
			</li>
			<li>
				The full documentation is comming.
			</li>
		</ul>

		<ul class="pager">
		  <li class="next">
		  	<a title="Curiosity's installation procedure" href="partials/installation.html">Installation &rarr;
		  	</a>
		  </li>
		</ul>
	</div>
	<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-53036871-1', 'auto');
  ga('send', 'pageview');

</script>
</body>

</html>
