<div ng-controller="filtersCtrl" class="col-sm-12 margin-top">
	<div ng-if="data.filters.type == 'node'" ng-class="{'panel-info': data.filters.opBool=='And', 'panel-warning': data.filters.opBool=='Or'}" class="panel">
		<div class="panel-heading">
			<div class="btn-group">
				<span type="button" class="dropdown-toggle" data-toggle="dropdown">
					{{data.filters.opBool}} <span class="caret"></span>
		  		</span>
		  		<ul class="dropdown-menu" role="menu">
					<li class="link" ng-click="changeNodeOp(data.filters,'And')"> And</li>
					<li class="link" ng-click="changeNodeOp(data.filters,'Or')">  Or</li>
					<li class="link" ng-click="changeNodeOp(data.filters,'Not')">  Not</li>
					<li class="link" ng-click="addNode(data.filters)">Add Sub Level</li>
				</ul>
			</div>
		</div>	
		<div class="panel-body">
			<div ng-repeat="filter in data.filters.nestedFilter" ng-include="'partials/filters/filtersRenderer.html'"></div>
			<div class="spacer"></div>
		</div>
	</div>
	<div ng-repeat="selected in selectedFilter">
		{{ selected.filter.data.term }}
	</div>
</div>