<div>
	<div>
		<div class="col-sm-6">
			<div class="panel panel-primary panel-request">
				<div class="panel-heading">
					<h4 class="col-sm-3">
						{{ info.txt.request.Keywords }}
					</h4>
					<div class="col-sm-6">
						<input type="text" class="form-control" ng-model="keywordFilter">
					</div>
					<button class="btn btn-default col-sm-3" ng-click="updateLimiteValueKeyword()" ng-switch on="keywordLimit" title="{{ info.txt.request.ShowAllkeywordTitle }}">
						<span ng-switch-when="9">{{ info.txt.request.ShowAll }}</span>
						<span ng-switch-default>{{ info.txt.request.Hide }}</span>
					</button>
					<div class="spacer"></div>
				</div>
				<div class="panel-body">
					<span ng-repeat="keyWord in data.keywordToShow | filter:keywordFilter | limitTo:keywordLimit track by $index" class="field col-sm-4">
						<span class="link" ng-click="addKeyWord(keyWord.label)" title="{{ keyWord.desc }}" href="">{{ keyWord.label }}</span>
					</span>
					<div class="spacer"></div>
				</div>
			</div>
		</div>

		<div class="col-sm-6">
			<div class="panel panel-primary panel-request">
				<div class="panel-heading">
					<h4 class="col-sm-3">
						{{ info.txt.request.Fields }}
					</h4>
					<div class="col-sm-6">
						<input type="text" class="form-control" ng-model="fieldFilter">
					</div>
					<button class="btn btn-default col-sm-3" ng-click="updateLimiteValueField()" ng-switch on="fieldLimit" title="{{ info.txt.request.ShowAllFieldTitle }}">
						<span ng-switch-when="9">{{ info.txt.request.ShowAll }}</span>
						<span ng-switch-default>{{ info.txt.request.Hide }}</span>
					</button>
					<div class="spacer"></div>
				</div>
				<div class="panel-body">
					<div ng-repeat="field in mappingData.fields | filter:fieldFilter | limitTo:fieldLimit track by $index" class="field col-sm-4 dropdown" >
						<span class="link" href ="#" ng-click="addKeyWord(field.ancestor)" title="{{ field.ancestor  }}">{{ field.name }}</span>
					</div>
					<div class="spacer"></div>
				</div>
			</div>
		</div>
		<div class="spacer"></div>
	</div>
	<div class="spacer"></div>
	<div>
		<form>
			<div class="input-group request-input"> 
				<span class="input-group-addon">{{ info.txt.request.SimplifiedRequest }}</span>
				<input ng-change="updateQuery()" ng-model="data.simplifiedRequest" type="text" ng-trim="false" class="form-control"></input>
			</div>

			<div class="input-group request-input"> 
				<span class="input-group-addon">{{ info.txt.request.ComplexeRequest }}</span>
				<input class="form-control" ng-model="data.complexRequest" type="text"></input>
			</div>
			
			<div>
				<button class="btn btn-default" ng-click="showKeywordQuery = !showKeywordQuery" type="button">
					{{ info.txt.request.KeywordFromQuery }} 
				</button>
				<div ng-show="showKeywordQuery" class="margin-top">
					<div class="col-sm-5">
						<div class="input-group">
							<span class="input-group-addon">{{ info.txt.request.Name }} </span>
							<input type="text" ng-model="keywordName" class="form-control">
						</div>
					</div>
					<div class="col-sm-5">
						<div class="input-group">
							<span class="input-group-addon">{{ info.txt.request.Desc }}</span>
							<input type="text" ng-model="keywordDesc" class="form-control">
						</div>
					</div>
					<button type="button" ng-click="addKeywordFromQuery(keywordName, keywordDesc)" class="btn btn-default col-sm-2">{{ info.txt.request.Save }}</button>
					<div class="spacer"></div>
				</div>
			</div>

			<div>
				<h4> {{ info.txt.request.SortBy }} </h4>
				<div ng-repeat="sort in data.sort" class="margin-top">
					<div class="col-sm-6">
						<div class="input-group" ng-class="{'has-error':sort.field?false:true}">
							<span class="input-group-addon">Field :</span>
							<input class="form-control" type="text" ng-model="sort.field" >
							<div class="input-group-btn">
								<button title="Display Fields" type="button" class="btn btn-default" ng-click="openModalFields('sm', sort)">
								<span class="glyphicon glyphicon-align-justify"></span>
								</button>
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<button class="btn btn-primary " ng-click="sort.type = !sort.type" title="ASC/DESC" type="button">
							<span class="glyphicon" ng-class="{'glyphicon-arrow-up':sort.type, 'glyphicon-arrow-down': !sort.type}">
							</span>
						</button>
						
						<button class="btn btn-danger " ng-click="removeSort($index)" title="Remove" type="button">
							<span class="glyphicon glyphicon-remove"></span>
						</button>
						
						<button class="btn btn-info" title="Reorder up" ng-click="move($index, true)" type="button">
							<span class="glyphicon glyphicon-circle-arrow-up"></span>
						</button>
						
						<button class="btn btn-info" title="Reorder down" ng-click="move($index, false)" type="button">
							<span class="glyphicon glyphicon-circle-arrow-down"></span>
						</button>
					</div>
					<div class="spacer"></div>
				</div>
				
				<div class="margin-top">
					<button ng-click="addSort()" class="btn btn-default" type="button">
						{{ info.txt.request.AddSort }} <span class="glyphicon glyphicon-plus"></span>
					</button>
				</div>
			</div>

			<div class="spacer"></div>

			<div class="panel panel-default" id="json-panel">
				<div class="panel-heading" ng-click="showJson=!showJson">
					<h3 class="panel-title">
						<span class="col-sm-11 link" href="#" title="Show the query in json">
							{{ info.txt.request.JsonQuery }}
						</span>
						<span class="glyphicon col-sm-1" ng-class="{'glyphicon-collapse-down': !showJson, 'glyphicon-collapse-up': showJson}"></span>
						<div class="spacer"></div>
					</h3>
				</div>
				<div class="panel-body" ng-show="showJson">
					{{ data.jsonRequest }}
				</div>
			</div>

			<button type="submit" ng-click="search() " class="btn btn-default">
				<span class="glyphicon glyphicon-search"></span> 
				{{ info.txt.request.Search }}
			</button>
		</form>
	</div>
	
</div>