<div>
	<div class="btn-group margin-left">
		<button class="btn btn-default" ng-click="addAggregation(query.aggregation.aggs)">
			<span class="glyphicon glyphicon-plus"></span>
		</button>
		<button class="btn btn-success" ng-click="validateAgg()">
			<span class="glyphicon glyphicon-ok"></span>
		</button>
	</div>
</div>
<div class="col-sm-8">
	<div class="aggregations-list">
		<ul>
			<li ng-repeat="(key,agg) in query.aggregation.aggs" ng-include="'template/aggregation_tab/aggregation_renderer.html'">
			</li>
		</ul>
	</div>
</div>
<div class="col-sm-4">
	<div class="panel panel-info">
		<div class="panel-heading">
			<h3 class="panel-title">
				Fields
			</h3>
		</div>
		<div class="panel-body">
			<span ng-repeat="field in info.mappings track by $index" class="field col-sm-3" >
				<a href ="#" ng-click="aggregation.focused.obj.field = field.ancestor" title="{{ field.ancestor  }}">
					{{ field.name }} ({{ field.type }})
				</a>
			</span>
			<div class="spacer"></div>
		</div>
	</div>
</div>
<div class="spacer"></div>