<div>
	<div class="panel panel-info panel-request">
		<div class="panel-heading">
			<h3 class="panel-title col-sm-10">
				{{ agg.agg.type }} on {{ agg.agg.field}}
			</h3>
			<span class="col-sm-2 glyphicon " ng-class="{'glyphicon-plus': !agg.showAgg, 'glyphicon-minus':agg.showAgg}" ng-click="agg.showAgg =!agg.showAgg"></span>
			<div class="spacer"></div>
		</div>
		<div class="panel-body" ng-show="agg.showAgg">
			<ul>
				<li ng-repeat="(key, value) in agg" ng-switch="key">
					<div ng-switch-when="buckets">
						<label>Buckets</label>
						<div ng-repeat="bucket in value" class="panel panel-success">
							<div class="panel-body">
								<ul> 
									<li ng-repeat="(key, agg) in bucket">
										<div ng-if="isAgg(key)" ng-include="agg.agg.template"></div>
										<div ng-if="!isAgg(key)">
											<label>{{ key }} : </label>
											<span> {{ agg }} </span>
										</div>
									</li> 
								</ul>
							</div>
						</div>
					</div>
					<div ng-switch-when="agg">
					</div>
					<div ng-switch-when="showAgg">
					</div>
					<div ng-switch-default>
						<label>{{ key }} : </label>
						<span> {{ value }} </span>
					</div> 
				</li>
			</ul>
		</div>
	</div>
</div>