<div>
	<div class="panel panel-primary panel-request">
		<div class="panel-body">
			<div ng-repeat="bucket in curAgg.result.buckets">
				<span class="aggregation-items"> 
					<label>
						<a href="#">
							{{bucket.key}} :
						</a>
					</label> 
					{{bucket.doc_count}}
				</span>
				<div ng-repeat="(key, curAgg) in bucket">
					{{ key }}{{ curAgg }}
					<div ng-if="isAgg(key)">
						<!--div ng-include="curAgg.__ref__.template"></div!-->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>