<div class="agg-result">
	<div class="panel panel-primary panel-request">
		<div class="panel-heading">
			<div>
				<span ng-repeat="filter in agg.__ref__.filters" class="label label-info">{{ filter.data.term }} 
					<span class="glyphicon glyphicon-remove" ng-click="removeFilter(agg, $index)"></span>
				</span>
				<div class="spacer"></div>
			</div>
		</div>
		<div class="panel-body">
			<div ng-repeat="bucket in agg.buckets">
				<span class="aggregation-items"> 
					<label>
						<span 
						ng-click="addFilter({type:'Terms', data:{field:agg.__ref__.field, term:bucket.key }})" class="link">
							{{bucket.key}} :
						</span>
					</label>
					{{bucket.doc_count}}
				</span>
				<div ng-repeat="(key, agg) in bucket">
					<div ng-if="isAgg(key)">
						<div ng-switch="agg.__ref__.tpl">
							<!-- Default Tpl !-->
							<div ng-switch-when="default">
								<div ng-include="agg.__ref__.resultTemplate">	
								</div>
							</div>
							<!-- Specifique Tpl !-->
							<div ng-switch-default>
								<div ng-include="agg.__ref__.tpl">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

