<div>
	<div class="panel panel-primary panel-request">
		<div class="panel-body">
			<div ng-repeat="bucket in agg.buckets">
				<span class="aggregation-items"> 
					<label>
						<a href="#">
							{{bucket.key}} :
						</a>
					{{bucket.doc_count}}
				</span>
				<div ng-repeat="(key, agg) in bucket">
					<div ng-if="isAgg(key)">
						<div ng-switch="agg.__ref__.tpl">
							<!-- Default Tpl !-->
							<div ng-switch-when="default">
								<div ng-include="agg.__ref__.type + '_template'">	
								</div>
							</div>
							<!-- Specifique Tpl !-->
							<div ng-switch-default>
								<div ng-include="agg.__ref__.tpl">
								</div>							
							</div>
						</div>							
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

