<div class="col-sm-6">
	<div class="input-group">
		<span class="input-group-addon">{{ info.txt.template.aggregation_sub_tab.Template }}</span>
		<ui-select ng-model="template.aggregation.selected" on-select="changeTemplate('aggregationsTemplates',template.aggregation,'currentTemplate',template.aggregation.selected)" theme="select2" class="form-control" style="min-width: 300px;" append-to-body="true">
			<ui-select-match placeholder="Select a template in the list...">{{$select.selected.name}}</ui-select-match>
        	<ui-select-choices repeat="tpl.name as tpl in data.aggregationsTemplates | filter: {name: $select.search}">
        		<a class="none" title="{{ tpl.name }}" ng-bind-html="tpl.name | highlight: $select.search"></a>
        	</ui-select-choices>
      	</ui-select>
	</div>
</div>
<div class="spacer"></div>
<div class="btn-group col-sm-6 margin-top">
	<button ng-click="new('aggregationsTemplates',template.aggregation, 'currentTemplate')" class="btn btn-default">
		{{ info.txt.template.aggregation_sub_tab.New }}
	</button>
	<button ng-if="!readonlyTemplate" ng-click="save('aggregationsTemplates')" class="btn btn-default">
		{{ info.txt.template.aggregation_sub_tab.Save }}
	</button>
	<button ng-if="!readonlyTemplate" ng-click="delete('aggregationsTemplates',template.aggregation, 'currentTemplate', template.aggregation.selected)" class="btn btn-default" >
		{{ info.txt.template.aggregation_sub_tab.Delete }}
	</button>	
</div>
<div class="spacer"></div>
<div class="col-sm-6 margin-top">
	<div class="input-group">
		<span class="input-group-addon">{{ info.txt.template.aggregation_sub_tab.TemplateName }}</span>
		<input type="text" ng-model="template.aggregation.currentTemplate.name" class="form-control"></input>
	</div>
</div>
<div class="spacer"></div>
<div class="margin-top col-sm-12">
	<textarea ng-model="template.aggregation.currentTemplate.value" class="form-control" rows="20">
	</textarea>
</div>
<div class="spacer"></div>