<div>
	<div class="modal-header">
		<h3 class="modal-title">Fields</h3>
	</div>

	<div class="modal-body">
		<div>
			<label>Selected Field : </label><span title="{{ selected.ancestor  }}"> {{ selected.ancestor}} </span>
		</div>

		<div class="input-group">
			<span class="input-group-addon">
				Search
			</span>
			<input class="form-control" ng-model="fieldFilter">
			<div class="input-group-btn">
				<button class="btn btn-default" ng-click="updateFieldLimit()">
					<span ng-if="fieldLimit == 9">View all</span>
					<span ng-if="fieldLimit != 9">Hide</span>
				</button>
			</div>
		</div>
		
		<hr>
		
		<div ng-repeat="field in data.fields | filter:fieldFilter | limitTo:fieldLimit track by $index" class="field col-sm-4 dropdown" >
			<span class="link" href ="#" ng-click="selectField(field)" title="{{ field.ancestor  }}">{{ field.ancestor }}</span>
		</div>
		<div class="spacer"></div>
	</div>

	<div class="modal-footer">
		<button class="btn btn-primary" ng-click="ok()">OK</button>
		<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
	</div>
</div>