<div>
	<div class="modal-header">
		<h3 class="modal-title">
			See global templates
		</h3>
	</div>
	<div class="modal-body">

	<div class="row">
		<div class="col-sm-6" ng-if="type=='aggregation'">
			<div class="input-group">
				<span class="input-group-addon">{{ info.txt.template.aggregation_sub_tab.Template }}</span>
				<ui-select ng-model="template.selected" theme="select2" class="form-control" style="min-width: 300px;" on-select="getTemplate('aggregationsTemplates', template.selected)">
        			<ui-select-match placeholder="Select a template in the list...">{{$select.selected.name}}</ui-select-match>
	            	<ui-select-choices repeat="template.name as template in data.aggregationsTemplates | filter:{name:$select.search}">
	            		<a class="none" title="{{ template.name }}" ng-bind-html="template.name | highlight: $select.search"></a>
	            	</ui-select-choices>
	          	</ui-select>
			</div>
		</div>
		<div class="col-sm-6" ng-if="type=='result'">
			<div class="input-group">
				<ui-select ng-model="template.selected" theme="select2" class="form-control" style="min-width: 300px;"  on-select="getTemplate('template', template.selected)">
        			<ui-select-match placeholder="Select a template in the list...">{{$select.selected.name}}</ui-select-match>
	            	<ui-select-choices repeat="template.name as template in data.template | filter:{name:$select.search}">
	            		<a class="none" title="{{ template.name }}" ng-bind-html="template.name | highlight: $select.search"></a>
	            	</ui-select-choices>
	          	</ui-select>
			</div>
		</div>
		<div class="spacer"></div>
		<div class="margin-top col-sm-12">
			<textarea ng-model="template.currentTemplate.value" class="form-control" rows="10">
			</textarea>
		</div>
	</div>
	
	<div class="modal-footer">
		<button class="btn btn-default" ng-click='ok()'>Ok</button>
	</div>	

</div>