<div id="header-content">
	<h1 class="col-sm-9">Curiosity</h1>
	<div class="col-sm-3">
		<div class="input-group">
			<span class="input-group-addon" >Server</span>
			<select ng-model="info.selectedServer" ng-change="connectServer(info.selectedServer, false)" ui-select2 class="form-control">
				<option ng-repeat="server in info.serverList" value ="{{ server }}" >{{ server }}</option>  
			</select>
			<div class="input-group-btn">
				<button type="button" class="btn btn-info" ng-click="info.displayNewServer = !info.displayNewServer">
					New </span>
				</button>
			</div>
		</div>
		<div class="input-group" ng-show="info.displayNewServer == true">
			<span class="input-group-addon">
				Add a new server 
			</span>
			<input type="text" class="form-control" ng-model="info.newServer">
			</input>
			<span class="input-group-btn" >
				<button class="btn" ng-click="connectServer(info.newServer, true)" ng-class="{'btn-success':info.connected, 'btn-danger':!info.connected}"> 	Connect 
				</button>
			</span>
		</div>
	</div>
	<div class="spacer"></div>
	<div id="bar" ng-include="'template/common/navBar.html'"></div>
	<nav class="navbar navbar-default container" >
		<a class="navbar-brand">Index</a>	
		<form class="navbar-form navbar-left">
        	<div class="form-group" id="search-nav">
				<select ng-model="info.selectedIndex" ng-change="selectIndex()" ui-select2 class="form-control">
					<option ng-repeat="index in info.indexList" value ="{{ index }}"> 
						{{ index }}
					</option>
				</select>
			</div>
		</form>							
		<form class="navbar-form navbar-left" role="search">
        	<div class="form-group">
				<input ng-change="updateQuery()" ng-model="query.queryTerm" type="text" ng-trim="false" class="form-control" placeholder="Query"></input>
			</div>
			<button ng-click="search()" class="btn btn-default" ><span class="glyphicon glyphicon-search"></span> Search</button>
		</form>
		<a href="#" class="navbar-brand navbar-right">
			<span class="label label-primary">Hits : {{query.hits}} </span>	
    	</a>
    	<a href="#" class="navbar-brand navbar-right" ng-show="info.loading">
			<span><img src="resources/ajax-loader.gif" id="loading-image"></img></span>
		</a>
		<a ng-show="info.err" class="navbar-brand navbar-right">
			<span class="label label-danger">Error</span>
		</a>	
	</nav>
</div>