<div id="header-content">
	<h1 class="col-sm-9">Curiosity <span class="version">{{ data.version }}</span></h1>
	<div class="col-sm-3">
		<div class="input-group margin-top">
			<span class="input-group-addon" >{{ info.txt.header.Server }}</span>
			<select ng-model="data.currentServer" ng-change="connectServer(data.currentServer, false)" ui-select2 class="form-control">
				<option ng-repeat="server in data.serverList" value ="{{ server }}" >{{ server }}</option>  
			</select>
			<div class="input-group-btn">
				<button type="button" class="btn btn-info" ng-click="displayNewServer = !displayNewServer">
					<span ng-if="!displayNewServer">
						{{ info.txt.header.New }}
					</span>
					<span ng-if="displayNewServer">
						{{ info.txt.header.Hide }}
					</span>
				</button>
			</div>
		</div>
		<div class="input-group" ng-show="displayNewServer">
			<span class="input-group-addon">
					{{ info.txt.header.AddServer }}				
			</span>
			<input type="text" class="form-control" ng-model="newServer">
			</input>
			<span class="input-group-btn" >				
				<button class="btn" ng-click="connectServer(newServer, true)" ng-class="{'btn-success':data.connected, 'btn-danger':!data.connected}">
					{{ info.txt.header.Connect }}
				</button>
			</span>
		</div>
	</div>
	<div class="spacer"></div>
	<div id="bar" ng-include="'template/common/navBar.html'"></div>
	<nav class="navbar navbar-default container" >
		<a class="navbar-brand">
			{{ info.txt.header.Index }}
		</a>	
		<form class="navbar-form navbar-left">
        	<div class="form-group" id="search-nav">
				<select ng-model="data.selectedIndex" ng-change="selectIndex()" ui-select2 class="form-control">
					<option ng-repeat="index in data.indexList" value ="{{ index }}"> 
						{{ index }}
					</option>
				</select>
			</div>
		</form>							
		<form class="navbar-form navbar-left" role="search">
        	<div class="form-group">
				<input ng-change="updateQuery()" ng-model="queryData.simplifiedRequest" type="text" ng-trim="false" class="form-control" placeholder="Query"></input>
			</div>
			<button ng-click="search()" class="btn btn-default" >
				<span class="glyphicon glyphicon-search"></span> 
				{{ info.txt.header.Search }}
			</button>
		</form>
		<!--<span class="navbar-brand navbar-left">
			{{ info.txt.header.AutoRefresh }}			
			<input type="checkbox" ng-model="queryData.autoRefresh">
		</span>!-->
		<a href="#" class="navbar-brand navbar-right" title="">
			<span class="glyphicon glyphicon-info-sign"></span>
		</a>
		<a href="#" class="navbar-brand navbar-right">
			<span class="label label-primary">{{ info.txt.header.Hits }} {{ queryData.hits }} </span>	
    	</a>
    	<a href="#" class="navbar-brand navbar-right" ng-show="info.loading">
			<span><img src="resources/ajax-loader.gif" id="loading-image"></img></span>
		</a>
		<a ng-show="info.err" class="navbar-brand navbar-right">
			<span class="label label-danger">{{ info.txt.header.Error }}</span>
		</a>
	</nav>
</div>