<!-- TODO : Dynamic built !-->
<div id="navBar">
	<ul class="nav nav-pills nav-stacked">
		<li ng-class="{'active':data.tab == 1}">
			<a href="#" ng-click="data.tab = 1">{{ info.txt.header.navBar.Request }}</a>
		</li>
		<!--<li ng-class="{'active':data.tab == 0}">
			<a href="#" ng-click="data.tab = 0"></a>
		</li>!-->
		<li ng-class="{'active':data.tab == 4}">
			<a href="#" ng-click="data.tab = 4">{{ info.txt.header.navBar.Aggregations }}</a>
		</li>
		<!--<li ng-class="{'active':data.tab == 2}">
			<a href="#" ng-click="data.tab = 2">{{ info.txt.header.navBar.Mapping }}</a>
		</li>!-->
		<li ng-class="{'active':data.tab == 3}">
			<a href="#" ng-click="data.tab = 3">{{ info.txt.header.navBar.Keywords }}</a>
		</li>
		<li ng-class="{'active':data.tab == 5}">
			<a href="#" ng-click="data.tab = 5">{{ info.txt.header.navBar.Templates }}</a>
		</li>
		<li ng-class="{'active':data.tab == 6}">
			<a href="#" ng-click="data.tab = 6">{{ info.txt.header.navBar.BugReport }}</a>
		</li>
		<div class="spacer"></div>
	</ul>
</div>