<!-- TODO : Dynamic built !-->
<div id="navBar">
	<ul class="nav nav-tabs">
		<li ng-class="{'active':info.tab == 0}">
			<a href="#" ng-click="info.tab = 0">Request</a>
		</li>
		<li ng-class="{'active':info.tab == 4}">
			<a href="#" ng-click="info.tab = 4">Aggregations</a>
		</li>
		<li ng-class="{'active':info.tab == 1}">
			<a href="#" ng-click="info.tab = 1">Results</a>
		</li>
		<li ng-class="{'active':info.tab == 2}">
			<a href="#" ng-click="info.tab = 2">Mapping</a>
		</li>
		<li ng-class="{'active':info.tab == 3}">
			<a href="#" ng-click="info.tab = 3">Keywords</a>
		</li>
		<li ng-class="{'active':info.tab == 5}">
			<a href="#" ng-click="info.tab = 5">Templates</a>
		</li>
		<div class="spacer"></div>
	</ul>
</div>