<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div >
		<div class="navbar-header">
			<a href="https://github.com/pagesjaunes/curiosity" class="navbar-brand" target="_blank">Curiosity <small>{{ data.version }}</small></a>			
		</div>
		<div class="collapse navbar-collapse">
			<p class="navbar-text">{{ info.txt.header.Server}} : </p>
			<form class="navbar-form navbar-left" ng-show="!displayNewServer" title="{{data.currentServer}}">
				<div class="form-group">
					<ui-select ng-model="data.currentServer" on-select="connectServer(data.currentServer, false)" theme="select2" title="{{data.currentServer}}"  style="min-width: 200px;">
            			<ui-select-match placeholder="Select or search a server in the list...">{{$select.selected}}</ui-select-match>
		            	<ui-select-choices repeat="server in data.serverList | filter:$select.search">
		              		<div><a class="none" title="{{server}}" ng-bind-html="server | highlight: $select.search"></a></div>
		            	</ui-select-choices>
		          	</ui-select>
				</div>
			</form>
			<form class="navbar-form navbar-left" ng-show="displayNewServer">
				<div class="form-group">
					<input type="text" class="form-control" ng-model="newServer" placeholder="adresse" />
				</div>
				<button class="btn" ng-click="connectServer(newServer, true)" ng-class="{'btn-success':data.connected, 'btn-danger':!data.connected}" title="{{ info.txt.header.ConnectTitle }}">
					{{ info.txt.header.Connect }}
				</button>
			</form>
			<button type="button" class="btn btn-default navbar-btn navbar-left" ng-click="displayNewServer = !displayNewServer" title="{{ info.txt.header.NewServerTitle }}">
				<span ng-if="!displayNewServer">
					{{ info.txt.header.New }}
				</span>
				<span ng-if="displayNewServer">
					{{ info.txt.header.Hide }}
				</span>
			</button>
			<p class="navbar-text">{{ info.txt.header.Index }} :</p>
			<form class="navbar-form navbar-left" title="{{ data.selectedIndex }}">
				<div class="form-group">
					<ui-select ng-model="data.selectedIndex" ng-change="selectIndex()" theme="select2" style="min-width: 200px;">
            			<ui-select-match placeholder="Select an alias or index in the list...">{{$select.selected}}</ui-select-match>
		            	<ui-select-choices group-by="groupIndexFind" repeat="index in data.indexDisplayValues | filter:$select.search">
		            		<a class="none" title="{{ index }}" ng-bind-html="index | highlight: $select.search"></a>
		            	</ui-select-choices>
		          	</ui-select>
				</div>
			</form>
					
			<p class="navbar-text navbar-left light">
				<img ng-if="data.err" src="resources/red_light.png" />
				<img ng-if="!data.err" src="resources/green_light.png" />
			</p>

			<p class="navbar-text">{{ info.txt.header.Context }} : {{ contextData.currentContext.contextName }} -> {{layoutData.currentWorkspace.displayName}}</p>
		</div>
	</div>
</div>
<div class="alert alert-danger alert-dismissible" role="alert" ng-if="ConfCreation">
	<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	<strong>Warning!</strong> Curiosity assume that your elasticsearch cluster's is {{ confServer }}. If it's not the case, please change your settings in conf.js at root of the project. If it's ok, please just reload the page.
</div>