<nav role="navigation" class="navbar navbar-default navbar-fixed-top">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
		<a href="https://github.com/pagesjaunes/curiosity" class="navbar-brand" target="_blank">Curiosity <small>{{ ::data.version }}</small></a>	
	</div>
    <!-- Collection of nav links, forms, and other content for toggling -->
    <div id="navbarCollapse" class="collapse navbar-collapse">
		<p class="navbar-text  gi-20px"><span class="label label-success">{{ contextData.currentContext.contextName }}</span></p>
<!-- 		<p class="navbar-text">
			<a href="#" ng-click="search()" title="Search" class="glyphicon glyphicon-search white">
			</a>
		</p> -->
		<p class="navbar-text ico">
			<a href="#" class="glyphicon glyphicon-home white gi-20px" ng-click="loadContext('basicSearch')" title="Home (basic search context)">
			</a>
		</p>

		<p class="navbar-text ico">
			<a href="#" class="glyphicon glyphicon-folder-open white gi-20px" ng-click="loadContext('exploreContext')" title="Search for a previous saved context">
			</a>
		</p>


		<p class="navbar-text" ng-click="changeServerIndex()" title="{{ ::info.txt.header.ServerAndIndexModalTitle }}">{{ data.currentServer }} / {{ data.selectedIndex | limitTo: 40 }} {{data.selectedIndex.length < 40 ? '' : '...'}} &nbsp;
			<a href="#" ng-click="changeServerIndex()" title="{{ ::info.txt.header.ServerAndIndexModalTitle }}" class="glyphicon glyphicon-edit white"></a>
		</p>
		<p class="navbar-text navbar-left light">
			<img ng-if="data.err" src="resources/red_light.png">
			<img ng-if="!data.err" src="resources/green_light.png">
		</p>

		<p class="navbar-text ico">
			<a href="#" class="glyphicon glyphicon-font white gi-20px" ng-click="manageKeyword()" title="Open Keywords window">
			</a>
		</p>

		<p class="navbar-text ico">
			<a href="#" class="glyphicon glyphicon-align-justify white gi-20px" ng-click="manageTemplate()" title="Open Templates window">
			</a>
		</p>

    </div>
</nav>
<div class="alert alert-danger alert-dismissible" role="alert" ng-if="ConfCreation">
	<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	<strong>Warning!</strong> Curiosity assume that your elasticsearch cluster's is {{ ::confServer }}. If it's not the case, please change your settings in conf.js at root of the project. If it's ok, please just reload the page.
</div>