<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div >
		<div class="navbar-header">
			<a href="https://github.com/pagesjaunes/curiosity" class="navbar-brand" target="_blank">Curiosity <small>{{ data.version }}</small></a>			
		</div>
		<div class="collapse navbar-collapse">
			<p class="navbar-text">{{ info.txt.header.Server}} : </p>
			<form class="navbar-form navbar-left" ng-show="!displayNewServer" title="{{data.currentServer}}">
				<div class="form-group">
					<select ng-model="data.currentServer" ng-change="connectServer(data.currentServer, false)" ui-select2 class="form-control select-header">
						<option ng-repeat="server in data.serverList" value ="{{ server }}" >{{ server }}</option> 
					</select>
				</div>
			</form>
			<form class="navbar-form navbar-left" ng-show="displayNewServer">
				<div class="form-group">
					<input type="text" class="form-control" ng-model="newServer" placeholder="adresse">
				</div>
				<button class="btn" ng-click="connectServer(newServer, true)" ng-class="{'btn-success':data.connected, 'btn-danger':!data.connected}" title="{{ info.txt.header.ConnectTitle }}">
					{{ info.txt.header.Connect }}
				</button>
			</form>
			<button type="button" class="btn btn-default navbar-btn navbar-left" ng-click="displayNewServer = !displayNewServer" title="{{ info.txt.header.NewServerTitle }}">
				<span ng-if="!displayNewServer">
					{{ info.txt.header.New }}
				</span>
				<span ng-if="displayNewServer">
					{{ info.txt.header.Hide }}
				</span>
			</button>
			<p class="navbar-text">{{ info.txt.header.Index }} :</p>
			<form class="navbar-form navbar-left" title="{{ data.selectedIndex }}">
				<div class="form-group">
					<select ng-model="data.selectedIndex" class="form-control select-header" ng-change="selectIndex()" ui-select2 >	
						<option value="">{{ info.txt.header.AllIndex }}</option>
						<optgroup label="Alias">
							<option ng-repeat="alias in data.aliases" value="{{ alias }}">
								{{ alias }}
							</option>
						</optgroup>
						<optgroup label="Index">
							<option ng-repeat="index in data.indexList" value ="{{ index }}"> 
								{{ index }}
							</option>
						</optgroup>
					</select>
				</div>
			</form>
			<p class="navbar-text navbar-left light">
				<img ng-if="data.err" src="resources/red_light.png">
				<img ng-if="!data.err" src="resources/green_light.png">
			</p>

			<p class="navbar-text">{{ info.txt.header.Context }} : {{ contextData.currentContext.contextName }} -> {{layoutData.currentWorkspace.displayName}}</p>
		</div>
	</div>
</div>
<div class="alert alert-danger alert-dismissible" role="alert" ng-if="ConfCreation">
	<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	<strong>Warning!</strong> Curiosity assume that your elasticsearch cluster's is {{ confServer }}. If it's not the case, please change your settings in conf.js at root of the project. If it's ok, please just reload the page.
</div>