<div id="result-bar">
	<!-- Search bar !-->
	<form ng-controller="queryCtrl">
		<div class="input-group" id="search-bar">
			<input ng-change="updateQuery()" ng-model="data.simplifiedRequest" type="text" ng-trim="false" class="form-control" placeholder="Query">
			<span class="input-group-btn">
				<button ng-click="search()" class="btn btn-default" type="submit">
					<span class="glyphicon glyphicon-search"></span> 
					{{ info.txt.header.Search }}
				</button>
			</span>
		</div>
	</form>
	<!-- Option Bar !-->
	<div class="margin-top" id="option-bar">
		<div class="col-sm-4">
			<div class="input-group">
				<span class="input-group-addon">{{ info.txt.result.request_sub_tab.Template }}</span>
				<select ng-model="data.templateSelected" ui-select2 ng-change="selectTemplate('template',data.templateSelected)" class="form-control">
					<option ng-repeat="template in templateData.template" value="{{$index}}" >{{ template.name }}</option>  
				</select>
				<span class="input-group-addon">
					<input type="checkbox" ng-model="data.useTemplate" ng-change="switchDisplayMode('template',data.templateSelected)">
				</span>
			</div>
		</div>
		<button class="btn btn-default" ng-click="openModalCsv('lg')">{{ info.txt.result.request_sub_tab.Csv }}</button>
		<button class="btn btn-default" ng-click="openModalAgg('lg')">{{ info.txt.result.request_sub_tab.Aggregation }}</button>
		<button class="btn btn-default" ng-click="showAdvancedQuery=!showAdvancedQuery">
			{{ info.txt.result.request_sub_tab.AdvancedRequest }} 
			<span class="glyphicon" ng-class="{'glyphicon-chevron-down':!showAdvancedQuery,'glyphicon-chevron-up': showAdvancedQuery}"></span>
		</button>
		<button class="btn btn-default" ng-click="showJsonResult = !showJsonResult">
			<span ng-if='showJsonResult'>{{ info.txt.result.request_sub_tab.ResultList }}</span> 
			<span ng-if='!showJsonResult'>{{ info.txt.result.request_sub_tab.JsonResult }}</span>
		</button>
		<button ng-click="queryData.autoRefresh = !queryData.autoRefresh" class="btn btn-default">
			{{ info.txt.header.AutoRefresh }}
			<span class="glyphicon" ng-class="{'glyphicon glyphicon-ok':queryData.autoRefresh,'':!queryData.autoRefresh}"></span>
		</button>
		<div class="spacer"></div>
	</div>

	<!-- Advanced Query !-->
	<div class="margin-top" ng-controller="queryCtrl">
		<div ng-include="'template/request_tab/request_tab.html'" ng-if="showAdvancedQuery" id="advanced-query"></div>
	</div>
	
	<!-- Pagination !-->
	<div class="margin-top" id="pagination-bar">
		<div class="col-sm-3">
			<div class="input-group">
				<label class="input-group-addon">{{ info.txt.request.ResultPerPage }}</label>
				<input class="form-control" ng-model="queryData.nbResult"></input>
			</div>
		</div>
		<div class="col-sm-6">
			<ul class="pager pagination-result">
				<li ng-class="{'disabled':queryData.page==0}">
					<a href="#" ng-click="firstPage()" title="{{ info.txt.result.request_sub_tab.First }}">
						<span class="glyphicon glyphicon-fast-backward">
						</span> 
					</a>
				</li>
				<li ng-class="{'disabled':queryData.page==0}">
					<a href="#" ng-click="prevPage()" title="{{ info.txt.result.request_sub_tab.Prev }}">
						<span class="glyphicon glyphicon-chevron-left">
						</span>
					</a>
				</li>
				<li class="disabled">
					<a href="#" >{{ queryData.page  }} / {{ queryData.maxPage }}</a>
				</li>
				<li ng-class="{'disabled':queryData.page==queryData.maxPage}">
					<a href="#" ng-click="nextPage()" title="{{ info.txt.result.request_sub_tab.Next }}">
						<span class="glyphicon glyphicon-chevron-right">
						</span>
					</a>
				</li>
				<li  ng-class="{'disabled':queryData.page==queryData.maxPage}">
					<a href="#" ng-click="lastPage()" title="{{ info.txt.result.request_sub_tab.Last }}"> 
						<span class="glyphicon glyphicon-fast-forward">
						</span>
					</a>
				</li>
			</ul>
		</div>		
		<div class="col-sm-3">
			<div class="input-group">
				<span class="input-group-addon">{{ info.txt.result.request_sub_tab.Page }} </span>
				<input type="number" ng-model="queryData.page" min="0" max="{{queryData.maxPage}}"class="form-control">
				<span class="input-group-btn">
					<button class="btn btn-default" ng-click="goTo(queryData.page)">{{ info.txt.result.request_sub_tab.Go }}</button>
				</span>
			</div>			
		</div>
		<div class="spacer"></div>
	</div>
</div>
<!-- Aggregation filter !-->
<div id="aggregation-filter-bar">
		<button ng-click="showAggregationFilter = !showAggregationFilter" class="btn btn-default">
			{{ info.txt.result.request_sub_tab.AggregationFilter }}
			<span class="glyphicon" ng-class="{'glyphicon-chevron-down':!showAggregationFilter,'glyphicon-chevron-up':showAggregationFilter}">	
			</span>
		</button>
	</div>
	<div class="col-sm-3 margin-top" ng-repeat="field in aggregationData.aggregationFilter" ng-show="showAggregationFilter">
		<div class="panel panel-default" >
			<div class="panel-heading">
			{{field.field}}
			<span class="glyphicon glyphicon-remove" ng-click="removeAggFilter(aggregationData.aggregationFilter, $index)"></span>
			</div>
			<div class="panel-body"> 
				<div class="btn-group" ng-repeat="agg in field.agg"> 					
					<button class="btn btn-xs glyph-btn-xs" ng-click="removeAggFilter(field.agg, $index)" ng-class="{'btn-warning':agg.opBool == 'AND','btn-danger':agg.opBool == 'NOT', 'btn-success':agg.opBool == 'OR'  }">
						<span class="glyphicon glyphicon glyphicon-remove"></span> 				
					</button>
					<button class="btn btn-xs dropdown-toggle" data-toggle="dropdown" ng-class="{'btn-warning':agg.opBool == 'AND','btn-danger':agg.opBool == 'NOT', 'btn-success':agg.opBool == 'OR'  }">
						{{ agg.key }} <span class="caret"></span>
					</button>
					<ul class="dropdown-menu" role="menu">
						<li>
							<a href="#" ng-click="setAggregationValue(agg, 'opBool','OR')">
								{{ info.txt.result.request_sub_tab.Or }}
							</a>
						</li>
						<li>
							<a href="#" ng-click="setAggregationValue(agg, 'opBool','AND')">
								{{ info.txt.result.request_sub_tab.And }}
							</a>
						</li>
						<li>
							<a href="#" ng-click="setAggregationValue(agg,'opBool','NOT')">
								{{ info.txt.result.request_sub_tab.Not }}
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="spacer"></div>
</div>
<p class="text-muted result-info">
	{{queryData.hits}} {{ info.txt.result.request_sub_tab.Results}}
</p>
<hr/>
<div id="json-answer" ng-if="showJsonResult">
	{{queryData.result}}
</div>
<div ng-if="!showJsonResult" class="result-list">
	<div class="flipped">
		<div ng-if="!data.useTemplate">
			<table class="table table-striped col-sm-12">
				<tr ng-repeat="doc in queryData.result.hits.hits | filter:searchText">
					<td>{{ doc }}</td>
				</tr>
			</table>
			<div class="spacer"></div>
		</div>
		<div ng-if="data.useTemplate">
			<div ng-include="data.currentTemplate"></div>
		</div>
	</div>
</div>