<div ng-controller="aggCtrl" class="module" ng-init="init(module.name)">
	
	<h4 ng-hide="card.hideTitle"> {{ curAgg.displayName }}
		<span class="glyphicon" ng-class="{'glyphicon-minus':!curAgg.hideCurAgg,'glyphicon-plus':curAgg.hideCurAgg}" ng-click="curAgg.hideCurAgg = !curAgg.hideCurAgg" title="{{ info.txt.log.Hide }}">	
		</span>
		
		<span class="glyphicon" ng-class="{'glyphicon-cog':curAgg.displayResult, 'glyphicon-list-alt':!curAgg.displayResult}" ng-click="curAgg.displayResult = !curAgg.displayResult">
		</span>

		<span class="glyphicon glyphicon-remove" ng-click="removeMainAgg(curAgg, module.id)" title="Remove Aggregation"> </span>
		
		<span ng-if="curAgg.validate" class="glyphicon glyphicon-ok module-info-ok" title="Aggregation activated">
		</span>
		<span ng-if="!curAgg.validate" class="glyphicon glyphicon-ban-circle module-info-ko" title="Aggregation desactivated"></span>
		<div ng-if="curAgg.validation_error" class="alert alert-danger" role="alert">
  			<strong>Error!</strong> {{ curAgg.validation_message }}
		</div>
	</h4>

	<div ng-if="!curAgg.hideCurAgg">
		<div ng-if="!curAgg.displayResult">
			<div class="margin-top">
				<select class="form-control" ui-select2 ng-model="curAgg.aggregationTypeIdx" ng-change="changeAggType(curAgg,curAgg.aggregationTypeIdx)">
					<option ng-repeat="item in data.aggList"  value="{{ $index }}">
						{{ item.type }}
					</option>
				</select>
			</div>

			<a target="_blank" ng-if="curAgg.aggTypeSelected" href="{{ curAgg.officialDoc }}">official doc about {{ curAgg.type }}</a>
			<div ng-if="curAgg.aggTypeSelected" ng-include="curAgg.displayTemplate" class="margin-top">
			</div>
		</div>

		<div ng-if="curAgg.displayResult">
			<div agg-result agg="curAgg.result"></div>
		</div>
	</div>
</div>