<div>
	<ul>
		<li ng-repeat="curAgg in curAgg.nested" class="margin-top">
			<h4>
				{{ curAgg.displayName }}
				<span class="glyphicon" ng-class="{'glyphicon-minus':!curAgg.hideCurAgg,'glyphicon-plus':curAgg.hideCurAgg}" ng-click="curAgg.hideCurAgg = !curAgg.hideCurAgg" title="{{ info.txt.log.Hide }}">	
				</span>
				<span ng-if="curAgg.validate" class="glyphicon glyphicon-ok">
				</span>
				<div ng-if="curAgg.validation_error" class="alert alert-danger" role="alert">
		  			<strong>Error!</strong> {{ curAgg.validation_message }}
				</div>
			</h4>
			<div ng-if="!curAgg.hideCurAgg">
				<ui-select ng-model="curAgg.type" on-select="changeAggType(curAgg,$item)" theme="select2" class="form-control" style="min-width: 300px;">
        			<ui-select-match placeholder="Select an agg in the list...">{{$select.selected.type}}</ui-select-match>
	            	<ui-select-choices repeat="item.type as item in data.aggList | filter: {type: $select.search}">
	            		<a class="none" title="{{ item.type }}" ng-bind-html="item.type | highlight: $select.search"></a>
	            	</ui-select-choices>
	          	</ui-select>
				<div ng-if="curAgg.aggTypeSelected" ng-include="curAgg.displayTemplate" class="margin-top">
				</div>
			</div>
		</li>
	</ul>
</div>