<div class="margin-top" id="option-bar" ng-controller="resultCtrl">
	<div class="col-sm-4">
		<button class="btn btn-default " ng-click="data.useTemplate='local'" ng-class="{'btn-primary':data.useTemplate=='local'?true:false}">Local template</button>
		<button class="btn btn-default " ng-click="data.useTemplate='global'" ng-class="{'btn-primary':(data.useTemplate=='global' || data.useTemplate==true)?true:false}">Global template</button> <!-- data.useTemplate==true for compatibility purpose -->
		<button class="btn btn-default " ng-click="data.useTemplate='none'" ng-class="{'btn-primary':data.useTemplate=='none'?true:false}">No template</button>
		<button class="btn btn-default  " ng-click="openModalTemplates('lg', 'result')">View global templates code</button>

		<div class="input-group" ng-if="(data.useTemplate=='global' || data.useTemplate==true)?true:false">
			<ui-select ng-model="data.templateSelected" theme="select2" class="form-control" style="min-width: 200px"  on-select="selectTemplate('template',data.templateSelected)" append-to-body="true">
    			<ui-select-match placeholder="Select a template in the list...">{{$select.selected.name}}</ui-select-match>
            	<ui-select-choices repeat="template.name as template in templateData.template | filter:{name:$select.search}">
            		<a class="none" title="{{ template.name }}" ng-bind-html="template.name | highlight: $select.search"></a>
            	</ui-select-choices>
          	</ui-select>

		</div>

		<div ng-if="data.useTemplate=='local'?true:false">
			<span class="glyphicon" ng-class="{'glyphicon-minus':!data.hideCustomTemplate,'glyphicon-plus':data.hideCustomTemplate}" ng-click="data.hideCustomTemplate = !data.hideCustomTemplate" title="{{ info.txt.log.Hide }}">
			</span>
			<textarea ng-if="!data.hideCustomTemplate" ng-model="data.customTemplate" ng-change="selectLocalTemplate('local',data.customTemplate); data.validate=false" class="form-control" rows="10"></textarea>
			<button ng-if="!data.hideCustomTemplate" class="btn btn-default" ng-class="{'btn-warning':!data.validate}" ng-click="data.validate=true">Apply the changes</button>
		</div>
	</div>
	<button class="btn btn-default" ng-click="openModalCsv('lg')">
		{{ info.txt.result.request_sub_tab.Csv }}
	</button>
	<button class="btn btn-default" ng-click="showJsonResult = !showJsonResult">
		<span ng-if='showJsonResult'>{{ info.txt.result.request_sub_tab.ResultList }}</span> 
		<span ng-if='!showJsonResult'>{{ info.txt.result.request_sub_tab.JsonResult }}</span>
	</button>
	<button ng-click="queryData.autoRefresh = !queryData.autoRefresh" class="btn btn-default">
		{{ info.txt.header.AutoRefresh }}
		<span class="glyphicon" ng-class="{'glyphicon glyphicon-ok':queryData.autoRefresh,'':!queryData.autoRefresh}"></span>
	</button>
	<div class="spacer"></div>
</div>