<div ng-controller="contextCtrl">

	<h4> Context </h4>

	<div class="input-group">
		<span class="input-group-addon">Context</span>
		<select ng-model="data.contextIdx" ui-select2 class="form-control" ng-change="selectContext()">
			<option ng-repeat="context in data.contextList" value ="{{ $index }}" >
				{{ context.fields.contextName[0] }}
			</option>  
		</select>
	</div>

	<div>

		<div class="margin-top">
			<button class="btn btn-default" ng-click="updateContext()">
				Update Context
			</button>
		</div>

		<div class="margin-top">
			<button class="btn btn-default" ng-click="sendContext()">
				Save
			</button>	
		</div>		

		<div class="margin-top">
			<button class="btn btn-default" ng-click="showNewContext = !showNewContext">
				<span ng-if="!showNewContext">New Context</span>
				<span ng-if="showNewContext">Hide</span>
			</button>
		</div>

		<div class="margin-top">
			<button class="btn btn-default" ng-click="setDefaultContext()">
				Set as default context
			</button>	
		</div>		
	</div>

	<div class="margin-top" ng-show="showNewContext">
		<div class="input-group">
			<span class="input-group-addon">Context's name</span>
			<input type="text" ng-model="newContextName" class="form-control">
		</div>
		<button class="btn btn-default margin-top" ng-click="saveNewContext()">Save</button>
	</div>

</div>
<hr/>