<div ng-controller="logCtrl" class="log-module module">
	<h4 ng-hide="card.hideTitle">{{ info.txt.log.Logs }}
		<span class="glyphicon" ng-class="{'glyphicon-minus':!hideConsole,'glyphicon-plus':hideConsole}" ng-click="hideConsole = !hideConsole" title="{{ info.txt.log.Hide }}">	
		</span>
		<span class="glyphicon glyphicon-trash" ng-click="clean()" title="{{ info.txt.log.Empty }}"></span>
	</h4>
	<div class="log-console" ng-if="!hideConsole">
		<alert ng-repeat="alert in data.logList" type="alert.type" close="delete($index)">
			<b>{{ alert.date.getHours() }} : {{ alert.date.getMinutes() }}</b> : {{ alert.value }}
		</alert>
	</div>	
</div>