<form class="agg_option">

	<div ng-include="'partials/aggregation_module/aggSettingsHeader.html'"></div>
	
	<div class="input-group margin-top" ng-class="{'has-error':curAgg.field||curAgg.script?false:true}">
		<span class="input-group-addon">Field :</span>
		<input class="form-control" type="text" ng-model="curAgg.field">
		<div class="input-group-btn">
			<button title="Display Fields" type="button" class="btn btn-default" ng-click="openModalFields('sm', curAgg)">
				<span class="glyphicon glyphicon-align-justify"></span>
			</button>
		</div>
	</div>
	
	<div class="input-group margin-top">
		<span class="input-group-addon">Script :</span>
		<input class="form-control" type="text" ng-model="curAgg.script">
	</div>
	
	<div ng-repeat="interval in curAgg.intervals" class="margin-top">
		
		<div class="col-sm-5"> 
			<input placeholder="from" class="form-control" ng-model="interval.from" type="text"> 
		</div>

		<div class="col-sm-5"> 
			<input placeholder="to" class="form-control" ng-model="interval.to" type="text"> 
		</div>

		<button class="col-sm-2 btn btn-danger" ng-click="removeInterval(curAgg,$index)">
			<span class="glyphicon glyphicon-remove"></span>
		</button>

		<div class="spacer"></div>
	
	</div>

	<button class="btn btn-default  margin-top" ng-click="addInterval(curAgg)" ng-class="{'btn-danger':curAgg.intervals[0]?false:true}">Add interval</button>


	<div class="margin-top">
		<button class="btn btn-default" ng-click="validateAgg(curAgg)">
			<span ng-if="curAgg.validate">Deactivate</span>
			<span ng-if="!curAgg.validate">Activate</span>
		</button>
		<button class="btn btn-default" ng-click="addNestedAgg(curAgg)">Add Nested Agg</button>
	</div>
	
	<div ng-include="'partials/aggregation_module/aggSettingsNested.html'"></div>

</form>

