<form class="agg_option">

	<div ng-include="'partials/aggregation_module/aggSettingsHeader.html'"></div>

	<div class="input-group margin-top" ng-class="{'has-error':curAgg.field||curAgg.script?false:true}" >
		<span class="input-group-addon">Field :</span>
		<input class="form-control" type="text" ng-model="curAgg.field" />
		<div class="input-group-btn">
			<button title="Display Fields" type="button" class="btn btn-default" ng-click="openModalFields('sm', curAgg)">
				<span class="glyphicon glyphicon-align-justify"></span>
			</button>
		</div>
	</div>
	
	<div class="input-group margin-top">
		<span class="input-group-addon">Format :</span>
		<input class="form-control" type="text" ng-model="curAgg.format" />
	</div>

	<div class="input-group margin-top" ng-class="{'has-error':curAgg.interval?false:true}">
		<span class="input-group-addon">Interval :</span>
		<input class="form-control" ng-model="curAgg.interval" />
	</div>

	<div class="input-group margin-top">
		<span class="input-group-addon">Order :</span>
		<input class="form-control" type="text" ng-model="curAgg.order" />
		<span class="input-group-btn">
        	<button class="btn btn-default" type="button" ng-click="curAgg.orderType = !curAgg.orderType">
	        	<span class="glyphicon" ng-class="{'glyphicon-sort-by-order-alt':!curAgg.orderType, 'glyphicon-sort-by-order':curAgg.orderType}">
	        	</span>
	        </button>
      	</span>
	</div>
	
	<div class="input-group margin-top">
		<span class="input-group-addon">Minimum doc count :</span>
		<input class="form-control" type="number" ng-model="curAgg.minDoc" min="1" />
	</div>
	
	<div class="input-group margin-top">
		<span class="input-group-addon">Script :</span>
		<input class="form-control" type="text" ng-model="curAgg.script" />
	</div>

	<div class="margin-top">
		<button class="btn btn-default" ng-click="validateAgg(curAgg)" />
			<span ng-if="curAgg.validate">Deactivate</span>
			<span ng-if="!curAgg.validate">Activate</span>
		</button>
		<button class="btn btn-default" ng-click="addNestedAgg(curAgg)">Add Nested Agg</button>
	</div>
	<div ng-include="'partials/aggregation_module/aggSettingsNested.html'"></div>

</form>