<form class="agg_option">

	<div ng-include="'partials/aggregation_module/aggSettingsHeader.html'"></div>
	
	<div class="input-group margin-top" ng-class="{'has-error':curAgg.field||curAgg.script?false:true}">
		<span class="input-group-addon">Geo field :</span>
		<select ng-model="curAgg.field" ui-select2="" class="form-control">
			<option ng-repeat="field in mapping.fields | filter:{type:'geo_point'} track by $index" value ="{{ field.ancestor  }}" >{{ field.ancestor  }}</option> 
		</select>
	</div>

	<div class="input-group margin-top" ng-class="{'has-error':curAgg.latitude?false:true}">
		<span class="input-group-addon">Latitude :</span>
		<input class="form-control" type="text" ng-model="curAgg.latitude">
	</div>

	<div class="input-group margin-top" ng-class="{'has-error':curAgg.longitude?false:true}">
		<span class="input-group-addon">Longitude :</span>
		<input class="form-control" type="text" ng-model="curAgg.longitude">
	</div>

	<div class="input-group margin-top">
		<span class="input-group-addon">Distance type :</span>
		<select ng-model="curAgg.distanceType" ui-select2="" class="form-control">
			<option value='sloppy_arc'>sloppy_arc</option> 
			<option value='arc'>arc</option> 
			<option value='plane'>plane</option> 
		</select>
	</div>	

	<div class="input-group margin-top">
		<span class="input-group-addon">Unit :</span>
		<select ng-model="curAgg.unit" ui-select2="" class="form-control">
			<option value='m'>meters</option> 
			<option value='km'>kilometers</option> 
			<option value='cm'>centimeters</option> 
			<option value='mm'>millimeters</option> 
			<option value='mi'>miles</option> 
			<option value='in'>inches</option> 
			<option value='ys'>yards</option> 
		</select>
	</div>

	<div ng-repeat="interval in curAgg.intervals" class="margin-top">
		
		<div class="col-sm-5"> 
			<input placeholder="from" class="form-control" ng-model="interval.from" type="number"> 
		</div>

		<div class="col-sm-5"> 
			<input placeholder="to" class="form-control" ng-model="interval.to" type="number"> 
		</div>

		<button class="col-sm-2 btn btn-danger" ng-click="removeInterval(curAgg,$index)">
			<span class="glyphicon glyphicon-remove"></span>
		</button>

		<div class="spacer"></div>
	
	</div>

	<button class="btn btn-default margin-top" ng-click="addInterval(curAgg)" ng-class="{'btn-danger':curAgg.intervals[0]?false:true}">Add interval</button>


	<div class="margin-top">
		<button class="btn btn-default" ng-click="validateAgg(curAgg)">
			<span ng-if="curAgg.validate">Deactivate</span>
			<span ng-if="!curAgg.validate">Activate</span>
		</button>
		<button class="btn btn-default" ng-click="addNestedAgg(curAgg)">Add Nested Agg</button>
	</div>
	
	<div ng-include="'partials/aggregation_module/aggSettingsNested.html'"></div>

</form>

